{
    # Proporciona un email global para que Let's Encrypt / ZeroSSL 
    # cree automáticamente certificados de producción válidos.
    email admin@osodreamer.lat

    # Habilitamos la creación de certificados automáticos bajo-demanda 
    # (indispensable para subdominios infinitos tipo SaaS sin plugin DNS)
    # Nota: En versiones recientes de Caddy, 'interval' y 'burst' fueron deprecados.
    on_demand_tls {
        # ask http://api:3000/health # Opcional en el futuro: endpoint para aprobar subdominios
    }
}

# Subdominio de la API de Producción (HTTPS Automático)
api.osodreamer.lat {
    # Redirige todo el tráfico web entrante hacia el contenedor de la API en el puerto 3000
    reverse_proxy api:3000
}

# Frontend del SaaS (Maneja todos los subdominios dinámicamente)
https:// {
    # Evita que Caddy intente el reto Wildcard y active emisión directa en la primera visita
    tls {
        on_demand
    }

    # Atrapamos cualquier subdominio del proyecto
    @saas host *.osodreamer.lat
    handle @saas {
        # El Frontend de Angular correrá en la misma red de Docker, así que usamos su nombre de contenedor
        reverse_proxy saas_frontend_app:80
    }
}
